<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hormonic.crowd_buying.service.user.UserMapper">

    <select id="getUserList" resultType="com.hormonic.crowd_buying.domain.entity.Users">
        select * from user order by created_date desc
    </select>

    <select id="getUserByName" resultType="Users">
        select user_uuid, user_name, user_email, created_date
            from user where user_name = #{user_name}
    </select>

</mapper>